<!-- Linux Command Search Engine: https://jaywcjlove.github.io/linux-command/ -->
<div class="footer <%if(type=='home'){%> home <%}%>">
  <a target="_blank" href="https://github.com/jaywcjlove/linux-command/new/master/command">Add Command</a> |
  <a href="<%=relative_path%>hot.html">Command List</a> |
  <a href="https://github.com/jaywcjlove/oscnews" target="_blank">Chrome Extension</a> |
  <a href="https://github.com/jaywcjlove/linux-command/releases" target="_blank">Alfred</a> |
  <a href="https://jaywcjlove.github.io/linux-command/linux-command.docset.zip" target="_blank">Dash</a> |
  <a href="https://github.com/roachsinai/krunner-linuxcommands" target="_blank">Krunner</a> |
  <br />
  <div>
    Bookmark this site using Ctrl+D or Command+d
    <br />
    Total of
    <span id="commands_info">
      <%=describe.command_length?describe.command_length:''%>
    </span> Linux commands, with over <a href="<%=relative_path%>contributors.html">50+</a> contributors
  </div>
 
  
  
</div>